@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
h1{
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 28px;
    padding: 40px;
}
a, footer{
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 25px;
}
label {
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 25px;
}
input, p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
body {
    background-color: #342c1f;
    color: white;
}
h2 {
    background-color: #fdbf08;
}
input[type="checkbox"] {
    margin-left: 5px;
    width: 18px;
    height: 18px;
}
.buttonClass {
    font-size: 23px;
    font-family: 'Oleo Script Swash Caps', cursive;
}