<!DOCTYPE html>
<html lang="fr">

<!-- Head -->
<head>
    <title>Quai Antique - Réservation</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ include('Layout/headLayout.html.twig') }}
    <link rel="stylesheet" href="{{ asset('CSS/security.css') }}">
</head>
<!-- END Head -->

<!-- NavBar -->
{{ include('Layout/navbarLayout.html.twig') }}
<!-- END NavBar -->

{% block body %}
<div class="container w3-center" style="margin-top: 100px">
    <h1 class="mt-4">Formulaire de réservation</h1>

{{ form(form) }}

</div>
{% endblock %}

</html>
