<!DOCTYPE html>
<html lang="fr">

<!-- Head -->
<head>
    <title>Quai Antique - 500</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ include('Layout/headLayout.html.twig') }}
    <link rel="stylesheet" href="{{ asset('CSS/index.css') }}">
</head>
<!-- END Head -->

<body>

<!-- NavBar -->
{{ include('Layout/navbarLayout.html.twig') }}
<!-- END NavBar -->

<header class="w3-container">
    <div class="w3-center w3-padding-top-64 w3-xxlarge" style="padding:64px; margin-top:100px; margin-bottom: 470px;">
        Toute nos excuses, le serveur ne peut pas accéder à votre requête.
    </div>
</header>
</body>

<!-- Footer -->
{{ include('Layout/footerLayout.html.twig') }}

</html>