<div class="w3-top" style="background-color: #342c1f; color: white;">
    <div class="w3-bar w3-padding w3-card" style="margin-top: 7px">
        <a href="/"><img style="width: 170px;" src="{{ asset('img/logo.png') }}" alt="logo"></a>
        <div class="w3-right w3-hide-small center">
            {% if NAVBAR == 1 %}
            <a href="/carte" class="w3-bar-item w3-hover-pale-yellow w3-yellow w3-button w3-round-medium">La carte</a>
            {% else %}
            <a href="/carte" class="w3-bar-item w3-hover-pale-yellow w3-button w3-round-medium">La carte</a>
            {% endif %}

            {% if NAVBAR == 2 %}
            <a href="/réservation" class="w3-bar-item w3-button w3-yellow w3-hover-pale-yellow w3-round-medium">Réserver</a>
            {% else %}
            <a href="/réservation" class="w3-bar-item w3-button w3-hover-pale-yellow w3-round-medium">Réserver</a>
            {% endif %}

            {% if app.user == true and app.user.email == 'admin@quaiantique.ovh' %}
                <a href="/admin" class="w3-bar-item w3-button w3-hover-pale-yellow w3-amber w3-round-medium">Tableau de bord administrateur</a>
            {% elseif app.user == true and app.user.email != 'admin@quaiantique.ovh' %}
                <a href="/mon-compte" class="w3-bar-item w3-button w3-hover-pale-yellow w3-amber w3-round-medium">Mon compte client</a>
            {% else %}
                <a href="/connexion" class="w3-bar-item w3-button w3-hover-pale-yellow w3-amber w3-round-medium" style="margin-right: 3px">Connexion</a>
                <a href="/inscription" class="w3-bar-item w3-button w3-hover-pale-yellow w3-amber w3-round-medium">Inscription</a>
            {% endif %}
        </div>

<a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
    <i class="fa fa-bars"></i>
</a>
</div>
</div>

<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar w3-bar-block w3-white w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Fermer ×</a>
    {% if app.user == true and app.user.email == 'admin@quaiantique.ovh' %}
        <a href="/admin" class="w3-bar-item w3-button w3-hover-pale-yellow w3-amber w3-padding-16 w3-round-medium">Tableau de bord administrateur</a>
    {% elseif app.user == true and app.user.email != 'admin@quaiantique.ovh' %}
        <a href="/mon-compte" class="w3-bar-item w3-button w3-hover-pale-yellow w3-amber w3-padding-16 w3-round-medium">Mon compte client</a>
    {% else %}
        <a href="/connexion" class="w3-bar-item w3-button w3-hover-pale-yellow w3-amber w3-padding-16 w3-round-medium" style="margin-bottom: 3px">Connexion</a>
        <a href="/inscription" class="w3-bar-item w3-button w3-hover-pale-yellow w3-amber w3-padding-16 w3-round-medium">Inscription</a>
    {% endif %}

    {% if NAVBAR == 1 %}
    <a href="/carte" onclick="w3_close()" class="w3-bar-item w3-yellow w3-button w3-round-medium">La carte</a>
    {% else %}
    <a href="/carte" onclick="w3_close()" class="w3-bar-item w3-button w3-round-medium">La carte</a>
    {% endif %}

    {% if NAVBAR == 2 %}
    <a href="/réservation" onclick="w3_close()" class="w3-bar-item w3-yellow w3-button w3-round-medium">Réserver</a>
    {% else %}
    <a href="/réservation" onclick="w3_close()" class="w3-bar-item w3-button w3-round-medium">Réserver</a>
    {% endif %}
</nav>

<script>
    // Modal Image Gallery
    function onClick(element) {
        document.getElementById("img01").src = element.src;
        document.getElementById("modal01").style.display = "block";
        var captionText = document.getElementById("caption");
        captionText.innerHTML = element.alt;
    }


    // Toggle between showing and hiding the sidebar when clicking the menu icon
    var mySidebar = document.getElementById("mySidebar");

    function w3_open() {
        if (mySidebar.style.display === 'block') {
            mySidebar.style.display = 'none';
        } else {
            mySidebar.style.display = 'block';
        }
    }

    // Close the sidebar with the close button
    function w3_close() {
        mySidebar.style.display = "none";
    }
</script>